
.hero__svg {
    display: none;
}
.hero {
    text-align: center;
    padding: 15rem 0;
}
.hero .title {
    line-height: 1;
    margin-bottom: 2rem;
}
.hero .text {
    margin-bottom: 3rem;
}




.contacts {
    text-align: center;
    padding: 15rem 0;
}
.contacts .sub-title {
    margin-bottom: 8rem;
}
.contacts__item:not(:last-child) {
    margin-bottom: 4rem;
}
.contacts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts__svg {
    display: block;
    width: 3rem;
    height: 3rem;
    fill: var(--second-brand-color);
    margin-bottom: .5rem;
}






.policy__wrapper {
    /* background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.policy {
    padding: 15rem 0;
    text-align: center;
}
.policy .sub-title {
    margin-bottom: 8rem;
}
.policy .policy__title {
    font-family: var(--title-font);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.policy .text {
    margin-bottom: 3rem;
}
.policy__box--mb {
    margin-bottom: 8rem;
}
.policy__box {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (min-width: 1440px)  {
    .hero__svg {
        display: block;
        max-width: 55rem;
    }
    .hero {
        text-align: left;
        padding: 12rem 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero .btn {
        margin-left: 0;
    }



    .contacts .sub-title {
        font-size: 14rem;
        text-align: left;
    }
    .contacts__box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 10rem;
    }
 
    .contacts__item {
        flex-direction: row;
        justify-content: flex-start;
    }
    .contacts__svg {
        margin-right: 1rem;
        margin-bottom: 0;
    }


    .policy .sub-title {
        font-size: 14rem;
        text-align: left;
    }
    .policy__box {
        margin-right: 40rem;
        padding: 5rem;
        max-width: 55rem;
        background-color: var(--third-brand-color);
    }
    .policy__box--mb {
        margin-right: 10rem;
    }
    .policy__title, .policy__box .text {
        color: var(--sub-text-color);
    }
    .policy .btn {
        color: var(--sub-text-color);
        border-color: var(--sub-text-color); 
    }
}
